/4.2 MIA Sílabo - Fundamentos de Inteligencia Artificial-signed-signed.pdf
/Actividad1
/Actividad10
/Actividad11
/Actividad12
/Actividad2
/Actividad3
/Actividad4
/Actividad5
/Actividad6
/Actividad7
/Actividad8
/Actividad9
/certificate_Generative_AI_Concepts.pdf
/Examen_1
/Fundamentos IA.7z
/Proyecto Final (Fundamentos de Inteligencia Artificial).pdf
/VSCode IDE.txt